
<section class="top-wrapper wrapper">
    <div class="container">
      <div class="top-wrapper-header">
        <a href="#">ログイン</a>
      </div>
      <h1 class="sp-title">Menumeal</h1>
      <h1 class="pc-message">おすすめメニューをみつけよう</h1>
      <div class="search-box"></div>
    </div>
</section>

<div class="pc-section">
    <section class="ranking-wrapper">
      <div class="ranking-container">
        <h1 class="section-title">ランキング</h1>
      </div>
    </section>
    <section class="find-by-area-wrapper">
      <div class="container">
        <h1 class="section-title">都道府県から探す</h1>
        <div class="prefecture-container"></div>
      </div>
    </section>


    <section class="recommended-menu-wrapper wrapper">
      <div class="container">
        <h1 class="section-title">注目のメニュー</h1>
        <div class="menus-container">
          <div class="menu-container">
            <img src="#">
            <a class="menu-name">サザエ丼</a>
            <a class="shop-name">とびっちょ本店</a>
          </div>
          <div class="menu-container">
            <img src="#">
            <a class="menu-name">しらす丼</a>
            <a class="shop-name">とびっちょ本店</a>
          </div>
        </div>
      </div>
    </section>


</div><!-- pcsection -->

  <section class="shop-finder-wrapper wrapper">
    <div class="container">
      <h1 class="section-title">お店を探す</h1>
      <div class="find-by-location-button"><i class="fa fa-map-marker"></i>　現在位置から探す</div>
    </div>
  </section>

  <section class="new-menu-wrapper wrapper">
    <div class="container">
      <h1 class="section-title">
        新着メニューから探す
      </h1>
      <div class="new-menus-container">
        <img class="new-menu-image" src="#">
        <img class="new-menu-image" src="#">
        <img class="new-menu-image" src="#">
        <img class="new-menu-image" src="#">
        <img class="new-menu-image" src="#">
        <img class="new-menu-image" src="#">
        <img class="new-menu-image" src="#">
        <img class="new-menu-image" src="#">
        <img class="new-menu-image" src="#">

      </div>
    </div>
  </section>
