<section class="shop-list">
  <div class="container">
    <ul>
    <% @shops.each do |shop| %>
    <li class="shop-container">
      <%= link_to image_tag(shop.prof_picture, class: "shop-image"), admin_shop_path(shop), class: "shop-container-left" %>
      <%= link_to shop.name, admin_shop_path(shop), class: "shop-name" %>
    </li>
    <% end %>
    </ul>
    <div>
</section>
