<ul>
  <% @shops.each do |shop| %>
  <li class="shop_container">
    <%= link_to shop.name, shop_path(shop) %>
    <%= link_to "(#{shop.menus.size})", shop_menu_path(shop) %>
  </li>
  <% end %>
</ul>
