<% if current_user != @user %><!--ログイン中のユーザーと表示するユーザーが異なればボタンを表示する -->
  <div id="follow_form">
  <% if current_user.following?(@user) %>
    <%= render 'unfollow' %>
  <% else %>
    <%= render 'follow' %>
  <% end %>
  </div>
<% end %>
