<header class="user_profile_header">
  <div class="user_header_left">
  <% if @user.prof_picture? %>
   <%= image_tag @user.prof_picture %>
  <% else %>
   <%= image_tag '/user_picts/default.png' %>
  <% end %>
  <!--ユーザープロフ画像-->
  </div>

  <div class="user_header_right">
    <div class="user_header_right_top">
      <h2 class="user_name"><%= @user.name %></h2>
    </div>
    <div class="user_header_right_bottom">
      <span><%= @user_profile.profile %></span>
    </div>
  </div>
</header>
<div class="user_profile_bottom">
  <!-- ここにユーザーの投稿した写真一覧が出る -->
</div>
