/*=================↓SP用スタイル====================*/

.comments_container {
  margin: 0 auto;
  // background-color: pink;
  .comments_review_container {
    // background-color: grey;
    margin-top: 10px;
    border-bottom: 1px dotted lightgrey;
    padding-bottom: 10px;
    margin-bottom: 10px;
    .comments_review_container_left {
      // background-color: lightgreen;
      width: 90px;
      display: inline-block;
    }
    .comments_review_container_right {
      display: inline-block;
      // background-color: lightblue;
      vertical-align: top;
      .comment_review_user_name {
        font-size: 1.5rem;
      }
      .post_time {
        float: right;
        padding-top: 2px;
      }
      .comment_review_content {
        margin-top: 5px;
        font-size: 2rem;
      }
    }

  }

 // コメント用コンテナ
  .comments_review_container_c {
    // background-color: grey;
    margin-bottom: 10px;
    .comments_review_container_left {
      // background-color: lightgreen;
      width: 90px;
      display: inline-block;
    }
    .comments_review_container_right {
      display: inline-block;
      // background-color: lightblue;
      vertical-align: top;
      .comment_review_user_name {
        font-size: 1.5rem;
      }
      .post_time {
        float: right;
        padding-top: 2px;
      }
      .comment_review_content {
        margin-top: 5px;
        font-size: 1.5rem;
      }
    }

  }
}
.comments_user_icon {
  width: 80px;
  height: 80px;
  border-radius: 100%;
}
.comment_text_form {
  // width: 500px;
}
#comment_submit {
  width: 50px;
  padding: 5px;
}





/*=================↓タブレット/PC用スタイル====================*/
@media (min-width: 769px) {

}
