/*=================↓SP用スタイル====================*/

.comments_container {
  margin: 0 auto;
  // background-color: pink;
  .container {
    position: relative;
    .comments_review_container {
      // background-color: grey;
      width: 100%;
      margin-top: 10px;
      border-bottom: 1px dotted lightgrey;
      padding-bottom: 10px;
      margin-bottom: 10px;
      display: table;
      .comments_review_container_left {
        // background-color: lightgreen;
        padding-right: 5px;
        width: 40px;
        display: table-cell;
        .comments_user_icon {
          width: 40px;
          height: 40px;
          border-radius: 100%;
        }
      }
      .comments_review_container_right {
        display: table-cell;;
        // background-color: lightblue;
        vertical-align: top;
        .comment_review_user_name {
          font-size: 1.2rem;
          font-weight: bold;
          display: inline-block;
        }
        .post_time {
          float: right;
          font-size: 1rem;
          color: lightgrey;
        }
        .comment_review_content {
          margin-top: 5px;
          font-size: 1.4rem;
          line-height: 1.8rem;
        }
      }
    }
    // ===================================================
    .comments_review_container_c {
      // background-color: grey;
      width: 100%;
      margin-top: 10px;
      border-bottom: none;
      padding-bottom: 10px;
      margin-bottom: 10px;
      display: table;
      .comments_review_container_left {
        // background-color: lightgreen;
        padding-right: 5px;
        width: 40px;
        display: table-cell;
        .comments_user_icon {
          width: 40px;
          height: 40px;
          border-radius: 100%;
        }
      }
      .comments_review_container_right {
        display: table-cell;;
        // background-color: lightblue;
        vertical-align: top;
        .comment_review_user_name {
          font-size: 1.2rem;
          font-weight: bold;
          display: inline-block;
        }
        .post_time {
          float: right;
          font-size: 1rem;
          color: lightgrey;
        }
        .comment_review_content {
          margin-top: 5px;
          font-size: 1.4rem;
          line-height: 1.8rem;
        }
      }

    }
  }




}

  .comments-form {
    // background-color: pink;
    width: 100%;
    .comment_text_form {
      display: block;
      width: 100%;
      border: 1px solid #b7b7b7;
      border-radius: 5px;
      margin-bottom: 10px;
      resize: none;
      height: 40px;
      padding-top: 10px;
      padding-left: 5px;
    }
    #comment_submit {
      display: inline-block;
      padding: 5px;
      width: 100%;
      height: 40px;
      vertical-align: top;
      border: none;
      background-color: #ff8000;
      color: #fff;
      font-size: 1.6rem;
    }
}







/*=================↓タブレット/PC用スタイル====================*/
@media (min-width: 769px) {

}
