// Place all the styles related to the menus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new_menu, .edit_menu {
  // menus/newページ
  // background-color: pink;
  text-align: center;
  width: 300px;
  margin: 0 auto;
  padding: 10px 0;
}
#menu_shop_id, #menu_menu_type {
  border: 1px solid #ccc;
  width: 300px;
  height: 40px;
  margin-top: 5px;
  background-color: rgba(0,0,0,0);
  border-radius: 3px;
  padding-left: 20px;
  color: #777;
}

/*================= menu-show-header ====================*/
.menu-show-header {
  border-bottom: 1px solid #ff8000;
  // box-shadow: 0 2px 2px rgba(0,0,0,0.5);
  width: 100%;
  background-color: #fff;
  .menu-header-top {
    color: #777;
    padding: 5px;

    a {
      color: #777;
    }
  }
  .menu-header-menu-name {
    font-size: 2rem;
    text-align: center;
    margin-top: 10px;
  }
  .menu-header-menu-price {
    text-align: center;
    margin-top: 10px;
    display: block;
    font-size: 1.4rem;
    font-weight: bold;
  }
  .menu-icons-container {
    text-align: center;
    margin-top: 10px;
    .register_form {
      display: inline-block;
      #e_m_register_btn, #d_m_register_btn {
        padding: 0 5px;
        padding-top: 2px;
        border-radius: 5px;
        font-size: 0.8rem;
        color: #777;
        margin-right: 10px;
        margin-left: 10px;
      }
    }
  }
}
/*=================↓sort-btn-wrapper====================*/

.sort-btn-wrapper {
  height: 30px;
  // background-color: pink;
  padding-top: 6px;
  .container {
    text-align: right;
  }
  .sort-btn {
    display: inline-block;
    font-size: 1.2rem;
    border: 1px solid #777;
    color: #777;
    padding: 2px 5px;
    border-radius: 4px;
  }
}


/*=================↓タブレット/PC用スタイル====================*/
/*=================↓タブレット/PC用スタイル====================*/
@media (min-width: 769px) {

}
