.new_review {
  // reviews/newページ
  // background-color: pink;
  text-align: center;
  width: 300px;
  margin: 0 auto;
  padding: 10px 0;
}
#review_menu_id {
  border: 1px solid #ccc;
  width: 100%;
  height: 40px;
  margin-top: 5px;
  background-color: rgba(0,0,0,0);
  border-radius: 3px;
  padding-left: 20px;
  color: #777;
}
.sp-form-text-area {
  border: 1px solid #ccc;
  width: 100%;
  height: 80px;
  margin-top: 5px;
  background-color: rgba(0,0,0,0);
  border-radius: 5px;
  padding-left: 20px;
}

/*=================タイムライン====================*/
.review-container {
  .review-top-container {
    height: 50px;
    // background-color: pink;
    padding-top: 10px;
    .user-icon {
      display: inline-block;
      border-radius: 50%;
      height: 30px;
      .user-icon-image {
        border-radius: 50%;
        height: 30px;
      }
    }
    .user-name {
      display: inline-block;
      // background-color: red;
      vertical-align: top;
      padding-top: 9px;
      font-size: 1.2rem;
    }
  }
  .review-image-container {
    display: block;
    width: 100%;
    max-width: 769px;
    margin: 0 auto;
  }
  .icons-container {
    height: 40px;
    // background-color: pink;
    padding-top: 5px;
    .counter {
      color: #777;
      font-size: 1.4rem;
    }
    .icon-item {
      display: inline-block;
      font-size: 2rem;
      padding-top: 5px;
      padding-left: 20px;
      padding-right: 5px;
    }
    .last {
      float: right;
    }
  }
  .text-container {
    margin-bottom: 10px;
  }
}



/*=================↓タブレット/PC用スタイル====================*/
/*=================↓タブレット/PC用スタイル====================*/
@media (min-width: 769px) {

}
