// .shop_container {
//   padding: 10px;
//   border-bottom: 1px dotted grey;
// }

/*=================↓スマホ用スタイル====================*/

/*=================↓スマホグローバルヘッダー====================*/
.sp-header {
  width: 100%;
  background-color: #ff8000;
  height: 40px;
  text-align: center;
}
.sp-header-logo {
  color: #fff;
  display: inline-block;
  padding-top: 10px;
  font-size: 2rem;
  letter-spacing: 1px;
  font-weight: bold;
}
/*=====================================*/


/*================= .shop-top-wrapper ====================*/
.shop-top-wrapper {
  height: 200px;
  background-size: cover;
  position: relative;
  margin: 0 auto;
  max-width: 769px;
  .shop-image {
    width: 100%;
    max-width: 769px;
    height: 100%;
    background-size: cover;
  }
  .container {
    position: absolute;
    bottom: 10px;
    height: 40px;
    left: 0;
    z-index: 2;
    .shop-name {
      color: #fff;
      font-size: 2rem;
      text-shadow: 2px 2px 2px #000;
      // font-weight: normal;

    }
  }
}

.shop-kana {
  color: #fff;
  display: block;
  padding-left: 5px;
  font-size: 1rem;
  text-shadow: 2px 2px 2px #000;
}

/*================= .shop-nav-wrapper ====================*/
.shop-nav-wrapper {
  height: 40px;
  max-width: 769px;
  margin: 0 auto;
  width: 100%;
  background-color: #e4e4e4;
  text-align: center;
  font-weight: bold;
}
.shop-nav-item {
  display: inline-block;
  height: 100%;
  color: #777;
  font-size: 1.6rem;
  padding-top: 12px;
  width: 49%;
}

/*=================.shop-menus ====================*/

.shop-menus-header {
  height: 40px;
  background-color: #f9f9f9;
}
.menu-container-li {
  width: 100%;
  height: 50px;
  display: block;
  padding-top: 5px;
  border-bottom: 1px solid #e4e4e4;
  .menu-name {
    font-size: 1.4rem;
    height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
    margin-top:10px;
    padding-bottom: 5px;
    color: #000;
    font-weight: bold;
    max-width: 65%;
    // background-color: pink;
    overflow: scroll;
  }
  .menu-price {
    display: inline-block;
    float: right;
    height: 40px;
    font-size: 1.4rem;
    padding-top: 13px;
    font-weight: bold;
  }

}

/*=================店舗基本情報====================*/
.shop-info-wrapper {
  margin-bottom: 10px;
  .shop-base-info-wrapper {
    margin-top: 5px;
    .container {
      height: 40px;
    }
    .section-title {
      display: inline-block;
      color: #000;
      font-size: 1.4rem;
      border-left: 3px solid #ff8000;
      padding-top: 2px;
      padding-bottom: 2px;
      padding-left: 5px;
      margin: 10px 0 10px;
    }
  }
  .shop-detail-info-wrapper {
    margin-top: 5px;
    .section-title {
      display: inline-block;
      color: #000;
      font-size: 1.4rem;
      border-left: 3px solid #ff8000;
      padding-top: 2px;
      padding-bottom: 2px;
      padding-left: 5px;
      margin: 10px 0 10px;
    }
  }
}
.edit-form {
  float: right;
  display: inline-block;
  text-align: right;
  font-size: 1rem;
  color: blue;
  margin-top: 15px;
}
.shop-info-table {
  width: 100%;
  max-width: 769px;
  margin: 0 auto;
  font-size: 1.2rem;
  th, td {
    border: 1px solid #ccc;
    padding: 15px;
    font-weight: bold;
    white-space: normal;
  }
  th {
    width: 30%;
    text-align: left;
    background-color: #e4e4e4;
  }
}


/*=================フォーム関連====================*/
.sp-form-wrapper {
  background-color: #fff;
}

.sp-form-title {
  font-size: 1.5rem;
  border-bottom: 1px solid #e9e9e9;
  text-align: center;
  padding: 20px 0;
}
.new_shop, .edit_shop {
  // shop/newページ
  text-align: center;
  width: 300px;
  margin: 0 auto;
  padding: 10px 0;
}
.sp-form-label {
  text-align: left;
  margin-top: 20px;
}
.sp-form-text {
  border: 1px solid #ccc;
  width: 100%;
  height: 40px;
  margin-top: 5px;
  background-color: rgba(0,0,0,0);
  border-radius: 3px;
  padding-left: 20px;
}
.sp-form-submit {
  width: 100%;
  margin-top: 30px;
  border: none;
  background-color: #ff8000;
  color: #fff;
  height: 40px;
  font-size: 1.5rem;
  &:hover {
    background-color: #fff;
    color: #ff8000;
    border: 1px solid #ff8000;
  }
}

.sp-form-text::-webkit-input-placeholder {
  text-align: left;
  color: #bbb;
}
.sp-form-text::-moz-placeholder {
  text-align: left;
}

/*=================メニュー一覧ページ====================*/
.shop-menus-header-item {
  display: inline-block;
  height: 100%;
  font-size: 3rem;
  padding-top: 5px;
  color: #777;
}

/*================= shops#index ====================*/
.shop-list {
  background-color: #fff;
  .shop-container {
    display: block;
    height: 50px;
    // background-color: pink;
    padding-top: 5px;
    .shop-container-left {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 3px;
      .shop-image {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
    .shop-name {
      font-size: 1.6rem;
      // background-color: grey;
      padding-bottom: 0;
      vertical-align: top;
      padding-top:  12px;
      color: #000;
    }
  }
}




/*=================↓タブレット/PC用スタイル====================*/

@media (min-width: 769px) {
  .sp-header {
    display: none;
  }

  .sp-form-wrapper {
    width: 800px;
    margin: 0 auto;
  }
  .sp-form-title {
    font-size: 1.8rem;
    padding: 30px 0;
  }
}
