/*============================= */


.edit_user {
  // users/editページ
  // background-color: pink;
  text-align: center;
  width: 300px;
  margin: 0 auto;
  padding: 10px 0;
}

/*=============↓user_profile関連(20180128ver)================ */
.user-top-wrapper {
  .user-top-top {
    height: 100px;
    // background-color: pink;
    text-align: center;
    .user-top-left {
      // background-color: lightblue;
      height: 80px;
      display: inline-block;
      width: 80px;
      border-radius: 50%;
      margin-top: 10px;
      padding-left: 10px;
      .user-icon {
        width: 80px;
        border-radius: 50%;
      }
    }
    .user-top-right {
      float: right;
      width: 70%;
      .user-top-right-top {
        height: 50px;
        text-align: left;
        padding-top: 5px;
        #follow_form {
          display: inline-block;
          .f-btn {
            padding: 3px 4px;
            margin-left: 5px;
            border-radius: 4px;
            border: 1px solid lightgrey;
            font-size: 1rem;
            color: lightgrey;
          }
          .follow {
            background-color: #0080FF;
            color: white;
            border: none;
          }
        }
        .user-name {
          display: inline-block;
          height: 100%;
          font-size: 1.8rem;
          padding-top: 15px;
          // width: 70%;
          padding-left: 20px;
          font-weight: bold;
        }
        .settings-icon {
          display: inline-block;
          text-align: center;
          height: 20px;
          width: 30px;
          padding-top: 2px;
          border: 1px solid #d3d3d3;
          border-radius: 3px;
          margin-top: 13px;
          vertical-align: top;
          font-size: 1.4rem;
          margin-left: 5px;
        }
      }
      .user-top-right-bottom {
        height: 50px;
        padding-right: 30px;
        .user-relation-info {
          display: inline-block;
          width: 32%;
          height: 100%;
          .count {
            display: block;
            font-size: 1.8rem;
            // height: 30px;
            padding-top: 5px;
          }
          .type {
            display: block;
            font-size: 1rem;
            margin-top: 2px;
            // color: #d3d3d3;
          }
        }
      }
    }
  }
  .user-top-bottom {
    // height: 50px;
    // background-color: lightgreen;
    margin-top: 10px;
    padding-left: 20px;
    .user-profile {
      font-size: 1.2rem;
    }
  }
}

.user-nav-wrapper {
  height: 40px;
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 1px;
  .user-nav-item {
    color: #777;
    display: inline-block;
    height: 40px;
    font-size: 1.4rem;
    padding-top: 13px;
    width: 32.5%;
    font-weight: bold;
  }
}

.user-bottom-wrapper {
  max-width: 769px;
  // text-align: left;
  // background-color: pink;
  margin: 0 auto;
  .reviews-container {
    display: table;
    .user-review-container {
      display: inline-block;
      // padding: 1px;
      width: 33%;
      margin-left: 1px;
      .user-review-image {
        width: 100%;
        height: 100%;
      }
    }
  }
}





/*=============↓show_follow================ */


/*============フォロー／フォロワー一覧画面関連================= */

.follow-container {
  margin: 0 auto;
  .follow_title {
    font-size: 2rem;
    padding: 10px 0;
    text-align: center;
    color: #777;
    border-bottom: 1px solid #eee;
  }
  .follow_user_container {
    // background-color: pink;
    padding: 5px;
    border-bottom: 1px solid #eee;
    .f_u_c_left {
      // background-color: lightblue;
      display: inline-block;
      .user_icon {
        float: left;
        width: 40px;
        // background-color: pink;
        img {
          border-radius: 50%;
          width: 40px;
          height: 40px;
        }
      }
      .f_user_name {
        font-size: 1.4rem;
        font-weight: bold;
        // background-color: blue;
        padding-top: 14px;
        margin-left: 5px;
      }
    }
    #follow_form {
      // background-color: blue;
      float: right;
      height: 50px;
      #follow {
        background-color: #0080FF;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-weight: bold;
      }
      #unfollow {
        border-radius: 5px;
        border: 1px solid #777;
        color: #777;
        padding-right: 15px;
        padding-left: 15px;
      }
    }
  }
}








/*=================↓タブレット/PC用スタイル====================*/
/*=================↓タブレット/PC用スタイル====================*/
@media (min-width: 769px) {

}
