<div class="review-container">
  <div class="item__header clearfix">
    <a class="item__user-icon" href="#">
      <img src="/user_picts/user-icon1.jpg" alt="ジバニャン" class="item__user-icon-img user-icon" />
    </a>
    <a class="item__user-name" href="#">
      <strong>jibanyan</strong>
    </a>
    <!-- <span class="item__date">
      2014/08/29 19:00
    </span> -->
  </div>

  <div class="image-container">
    <img src="/user_picts/ra-men.jpg" alt="" class="rev-img">
    <a href="#" class="menu-name">特濃醤油豚骨らーめん並盛／南</a>
  </div>

  <div class="icons-container">
    <a href="#">
      <i class="fa fa-heart-o heart-icon"></i>
    </a>
    <a href="#">
      <i class="fa fa-comment-o comment-icon"></i>
    </a>
  </div><!-- .icons-container -->

  <div class="rev-bottom">
    <ul>
      <li><!--自分のコメント-->
        <a href="#" class="content-user-name">jibanyan</a>
        <span>新家系ラーメン！！！！！！！！いいね。</span>
      </li>
      <!-- ここ以下は他人からのコメント(if文で分岐)-->
      <li>
        <a href="#" class="content-user-name">shinnosuke_nohara</a>
        <span>同じの食べてんねｗ</span>
      </li>
    </ul>
  </div>
</div><!-- review-container -->

<div class="review-container">
  <div class="item__header clearfix">
    <a class="item__user-icon" href="#">
      <img src="/user_picts/user-icon1.jpg" alt="ジバニャン" class="item__user-icon-img user-icon" />
    </a>
    <a class="item__user-name" href="#">
      <strong>jibanyan</strong>
    </a>
    <!-- <span class="item__date">
      2014/08/29 19:00
    </span> -->
  </div>

  <div class="image-container">
    <img src="/user_picts/ra-men.jpg" alt="" class="rev-img">
    <a href="#" class="menu-name">特濃醤油豚骨らーめん並盛／南</a>
  </div>

  <div class="icons-container">
    <a href="#">
      <i class="fa fa-heart-o heart-icon"></i>
    </a>
    <a href="#">
      <i class="fa fa-comment-o comment-icon"></i>
    </a>
  </div><!-- .icons-container -->

  <div class="rev-bottom">
    <ul>
      <li><!--自分のコメント-->
        <a href="#" class="content-user-name">jibanyan</a>
        <span>新家系ラーメン！！！！！！！！いいね。</span>
      </li>
      <!-- ここ以下は他人からのコメント(if文で分岐)-->
      <li>
        <a href="#" class="content-user-name">shinnosuke_nohara</a>
        <span>同じの食べてんねｗ</span>
      </li>
    </ul>
  </div>
</div><!-- review-container -->

<div class="review-container">
  <div class="item__header clearfix">
    <a class="item__user-icon" href="#">
      <img src="/user_picts/user-icon1.jpg" alt="ジバニャン" class="item__user-icon-img user-icon" />
    </a>
    <a class="item__user-name" href="#">
      <strong>jibanyan</strong>
    </a>
    <!-- <span class="item__date">
      2014/08/29 19:00
    </span> -->
  </div>

  <div class="image-container">
    <img src="/user_picts/ra-men.jpg" alt="" class="rev-img">
    <a href="#" class="menu-name">特濃醤油豚骨らーめん並盛／南</a>
  </div>

  <div class="icons-container">
    <a href="#">
      <i class="fa fa-heart-o heart-icon"></i>
    </a>
    <a href="#">
      <i class="fa fa-comment-o comment-icon"></i>
    </a>
  </div><!-- .icons-container -->

  <div class="rev-bottom">
    <ul>
      <li><!--自分のコメント-->
        <a href="#" class="content-user-name">jibanyan</a>
        <span>新家系ラーメン！！！！！！！！いいね。</span>
      </li>
      <!-- ここ以下は他人からのコメント(if文で分岐)-->
      <li>
        <a href="#" class="content-user-name">shinnosuke_nohara</a>
        <span>同じの食べてんねｗ</span>
      </li>
    </ul>
  </div>
</div><!-- review-container -->

<div class="review-container">
  <div class="item__header clearfix">
    <a class="item__user-icon" href="#">
      <img src="/user_picts/user-icon1.jpg" alt="ジバニャン" class="item__user-icon-img user-icon" />
    </a>
    <a class="item__user-name" href="#">
      <strong>jibanyan</strong>
    </a>
    <!-- <span class="item__date">
      2014/08/29 19:00
    </span> -->
  </div>

  <div class="image-container">
    <img src="/user_picts/ra-men.jpg" alt="" class="rev-img">
    <a href="#" class="menu-name">特濃醤油豚骨らーめん並盛／南</a>
  </div>

  <div class="icons-container">
    <a href="#">
      <i class="fa fa-heart-o heart-icon"></i>
    </a>
    <a href="#">
      <i class="fa fa-comment-o comment-icon"></i>
    </a>
  </div><!-- .icons-container -->

  <div class="rev-bottom">
    <ul>
      <li><!--自分のコメント-->
        <a href="#" class="content-user-name">jibanyan</a>
        <span>新家系ラーメン！！！！！！！！いいね。</span>
      </li>
      <!-- ここ以下は他人からのコメント(if文で分岐)-->
      <li>
        <a href="#" class="content-user-name">shinnosuke_nohara</a>
        <span>同じの食べてんねｗ</span>
      </li>
    </ul>
  </div>
</div><!-- review-container -->
